.kuva-teksti { clear: both;
               margin-bottom: 20px;
}

#eka {
    float: left; /* Kellu vasemmalle */
    margin-right: 20px;
    width: 300px;
}

#toka {
    clear: both; /* Poista kellunta ja siirry uudelle riville */
    float: right; /* Kellu oikealle */
    margin-left: 20px;
    width: 300px;
}

.teksti { margin-top: 10px;}